/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
/*

/* for 480px or less */
@media screen and (max-width: 480px) {
	html{
		-webkit-text-size-adjust: none;
	}
		#page-wrap{
			font-size: 90%;
			padding: 8px 15px;
		}
	}
}

html, body { height: 100%; }

body {
	background-color: #FFFFFF;
	font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: small;
	text-align: center;
}
/*
h1 {
	font-size: 250%;
	margin-top: 5px;
	margin-bottom: 1em;
	margin-right: 5px;
	margin-left: 5px;
	color: black;
	display: inline;
}

h2{
	display: inline;
	font-size: 100%;
	margin-top: 5px;
	margin-bottom: 1em;
	color: gray;
}

h3 {
	display: inline;
	font-size: 100%
	color: RGB(100, 200, 100);
}
h4 {display: inline;
font-size: 100%;
color: #FFFFFF;
}

h5{
	display: inline;
	fontsize: 80%;
}*/

a         { color: #a0a; }
a:hover   { color: #000; }
/*a:visited { color: #a0a; }*/

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
	list-style-type: none;
	margin-bottom: 2em;
}

.posts li {
	line-height: 1.75em;
}

.posts span {
	color: #FFFFFF;
	font-family: Monaco, "Courier New", monospace;
	font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
	font-size: 115%;
	text-align: justify;
	width: 42em;
	margin: 3em auto 2em;
	line-height: 1.5em;
}

.header a {
	font-weight: bold;
	text-decoration: none;
}

.title {
	display: inline-block;
	margin-top: 1em;
	margin-bottom: 2em;
}

.title a {
	color: blue;
}

.title a:hover {
	color: #000;
}

.header a.extra {
	color: #aaa;
	margin-left: 1em;
}
.pages{
background-color: #B7E6E8;
border-radius: 10px;
/*box-shadow: 10px 10px 10px 10px black;*/
padding: 8px;
}

.header a.extra:hover {
	color: #000;
}

.meta {
	color: #aaa;
}

.footer {
	font-size: 80%;
	color: #666;
	border-top: 4px solid #eee;
	margin-top: 2em;
	overflow: hidden;
}

.footer .contact {
	float: left;
	margin-right: 3em;
}

.footer .contact a {
	color: #8085C1;
}

.footer .rss {
	margin-top: 1.1em;
	margin-right: -.2em;
	float: right;
}

.footer .rss img {
	border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
img {
	height:50%;
	width: 50%;

}
.post pre {
	border: 1px solid #ddd;
	background-color: #eef;
	padding: 0 .4em;
}

.post ul, .post ol {
	margin-left: 1.35em;
}

.post code {
	/* border: 1px solid #ddd; */
	line-height: 10%;
	background-color: #eef;
	padding: 0 .2em;
}
.img{
	margin-left:auto;
	margin-right:auto;
}
.container{
	width: auto;
	margin-right: auto;
}
.revision{
	margin-left: 3%;
	margin-right: 3%;
	background-color: #FFFD77;
	height:auto;
	padding: 10px;

}

.local{
margin-left: -5%;
margin-right: -5%;
margin-bottom: 1em;
background-color: #4C63FF;
padding: 20px;
border-radius: 10px;
box-shadow: 5px 5px black;

}
.external{
position: relative;
margin-left: -5%;
margin-right: -5%;
margin-bottom: 1em;
background-color: #21E850;
padding: 20px;
border-radius: 10px;
box-shadow: 5px 5px black;
}

.cite{
	position:absolute;
	background-color: #300157;
	margin-left: 95%;
	margin-top: -20%;
	padding: 10px;
	height: auto;
	width: auto;
	border-radius: 10px;
	box-shadow: 10px 10px black;
	cursor:pointer;
}
.cite a:    { color: #a0a; }
  a:hover   { color: white; }
}
