<!DOCTYPE html>
<html>
		<head>
				<meta charset="utf-8">
				<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
				<title>{{ page.title }}</title>
				<meta name="viewport" content="width=device-width, initial-scale=1.0">
				<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@so_rowdy">
<meta name="twitter:creator" content="@so_rowdy">
<meta name="twitter:title" content="My CMOY Pocket Amp">
<meta name="twitter:description" content="Using an empty deoderant stick, I made a pocket amplifier powered by an LM386N amplifier chip.">
<meta name="twitter:image:src" content="http://www.angelfire.com/clone2/stuff_me/product3.jpg">

				<!--[if lt IE 9]><script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<![endif]-->

				<!-- syntax highlighting CSS  -->
				<link rel="stylesheet" href="/css/syntax.css">

				<!-- Custom CSS -->
				<link rel="stylesheet" href="/css/main.css">
				<meta name="msapplication-TileImage" content="{{ site.baseurl }}media/favicon.ico"/>
				<link href="{{ site.baseurl }}media/favicon.ico" rel="shortcut icon" type="image/x-icon">

		</head>

		<body>
			<div id="page-wrap">
				<div class="site">
					<div class="header">
						<h2 class="title"><a href="/">{{ site.name }}</a></h2>
					</div>
				<div class="pages">

					{{ content }}

			</div>
				<div class="footer">
						<div class="contact">
							<p>
								Nick Siemer<br />
								nss26b@mail.missouri.edu<br />

							</p>
						</div>
						<div class="contact">
							<p>
								<a href="https://github.com/nsiemer" target="_blank">github.com/Nsiemer</a><br />
								<a href="https://www.facebook.com/NSiemer31" target="blank">Facebook</a><br />
							</p>
						</div>
					</div>
				</div>
			</div>
		</body>
</html>
